{
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@components": "./src/components",
          "@typescript": "./src/typescript"
        }
      }
    ]
  ],
  "presets": [
    "next/babel"
  ]
}